{% extends "base.html" %}
{% block title %}Giriş Yap — Reddat{% endblock %}
{% block content %}
<div class="form-card">
    <h1>Giriş Yap</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="width:100%; justify-content:center; padding:10px;">Giriş
            Yap</button>
    </form>
    <p style="margin-top:16px; text-align:center;">Hesabın yok mu? <a href="{% url 'accounts:register' %}">Kayıt Ol</a>
    </p>
</div>
{% endblock %}